*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Header css start */
.logo{
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}
header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #FF900E1A;
    height: auto;
    align-items: center;
}
nav{
    width: 40%;
    display: flex;
    justify-content: space-between;
    height: auto;
    align-items: center;
}
nav ul{
    display: flex;
    justify-content: space-between;
}
li{
    list-style: none;
    padding: 3rem;
    font-size: 18px;
    font-weight: 500;
    color: #424242;
}
/* Header css End */

/* Banner section start */
.banner{
    background-color: #FF900E1A;
}
.banner-text{
    text-align: center;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700px;
    margin-bottom: 1rem;
}
.banner-description{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 2rem;
}
.btn{
    width: 11.25rem;
    height: 4rem;
    background-color: #FF900E;
    border: none;
    color: white;
    border-radius: 5px;
    margin-bottom: 50px;
}
.banner-image-section{
    width: 80%;
    margin: 0 auto;
}
.banner img{
    width: 100%;
}
/* Banner section end */

/* Media Quaries Section */
@media screen and (max-width:576px) {
    header{
        flex-direction: column;
        width: auto;
        padding: 5px;
    }   
    nav ul{
        flex-direction: column;
    } 
    nav ul li{
        padding: 5px;
    }
}