*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Header css start */
.logo{
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}
header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #FF900E1A;
    height: auto;
    align-items: center;
}
nav{
    width: 40%;
    display: flex;
    justify-content: space-between;
    height: auto;
    align-items: center;
}
nav ul{
    display: flex;
    justify-content: space-between;
}
li{
    list-style: none;
    padding: 3rem;
    font-size: 18px;
    font-weight: 500;
    color: #424242;
}
/* Header css End */

/* Banner section start */
.banner{
    background-color: #FF900E1A;
}
.banner-text{
    text-align: center;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700px;
    margin-bottom: 1rem;
}
.banner-description{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 2rem;
}
.btn{
    width: 11.25rem;
    height: 4rem;
    background-color: #FF900E;
    border: none;
    color: white;
    border-radius: 5px;
    margin-bottom: 50px;
}
.banner-image-section{
    width: 80%;
    margin: 0 auto;
}
.banner img{
    width: 100%;
    margin-bottom: 10px;
}
/* Banner section end */

/* Feature section start*/

.feature-container{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 50% 50%;
    padding-top: 85px;
    padding-bottom: 130px;
}
.feature-container img{
    width: 100%;
    height: auto;
    margin: 5px;
}
.image-section{
    display: flex;
}
.features-title{
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 24px;
}
.features-description{
    margin-bottom: 32px;
    color: #727272;
}
.quick{
    color: #727272;
}
.our{
    color: #131313;
}
.features{
    color: #FF900E;
}
.features-box2{
   display: flex;
   flex-direction: column;
   align-items: start;
   justify-content: center;
   column-gap: 5px;
   margin-left: 15px;
}


/* Feature section end*/
/* Feature List section start */
.feature-list-section{
    display: flex;
    width: 80%;
    margin: 0 auto;
}
.feature-list-text{
    width: 50%;
    padding: 5rem;
}
.feature-list-photo{
    width: 40%;
    padding-left: 50px;
    position: relative;
}
.feature-list-section img{
    width: 90%;
    height: 85%;
}
.feature-list-title-one{
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 10px;
}
.feature-list-title-one::before{
    content: "";
    border-left: 5px solid orange;
    padding-left: 5px;
}
.feature-list-title-two{
    margin-bottom: 10px;
}
.feature-list-description{
    font-size: 16px;
    color: #727272;
}
.feature-list-box{
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;
}
.btn-bold-text{
    font-size: 65px;
    font-weight: 700;
}
.btn-small-text{
    font-size: 25px;
    font-weight: 500;
}
.big-btn{
    border: none;
    background-color: #FF900E;
    color: white;
    padding: 20px;
    border-radius: 5px;
    position: absolute;
    left: -45px;
    bottom: 80px;
}
/* Feature List Section End */
/* Facts section start */
.facts-container{
    width: 80%;
    margin: 0 auto;
}
.facts{
    display: flex;
    justify-content: space-around;
}
.fact{
    text-align: center;
    border: 3px solid orange;
    padding: 5px;
}
.fact img{
    width: 45px;
    height: 45px;
}
.fact-number{
    font-size: 45px;
    font-weight: 600;
    color: #424242;
}
.fact-description{
    font-size: 20px;
    font-weight: 500;
    color: #727272;
}
.facts-title{
    font-size: 45px;
    font-weight: 700;
    color: #131313;
    margin-bottom: 24px;
}
.facts-description{
    font-size: 16px;
    font-weight: 400;
    color: #727272;
}
.facts-text{
    margin-bottom: 6.25rem;
    margin-left: 3.75rem;
}
/* Facts section end */
/* sponspors section start */
.my-sponspors{
    width: 80%;
    margin: 0 auto;
}
.sponspors-text{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}
.sponspors-title{
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 24px;
}
.sponspors-description{
    font-size: 16px;
    font-weight: 400;
}
.sponspors{
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}

/* sponspors section end */
/* Media Quaries Section */
@media screen and (max-width:576px) {
    header{
        flex-direction: column;
        width: auto;
        padding: 5px;
    }   
    nav ul{
        flex-direction: column;
    } 
    nav ul li{
        padding: 5px;
    }
    .feature-container{
        grid-template-columns: 1fr;
    }
    .image-section{
        flex-direction: column;
    }
    .feature-list-section{
        flex-direction: column;
    }
    .feature-list-text{
        width: 100%;
    }
    .feature-list-section img{
        width: 100%;
        height: auto;
    }
    .feature-list-photo{
        width: 100%;
    }
    .big-btn{
        bottom: -75px;
        left: 80px;
        width: 70%;
    }
    .facts-container{
        width: 100%;
        margin: 0;
    }
    .facts-text{
        margin-top: 6.25rem;
        text-align: center;
    }
    .facts{
        flex-direction: column;
    }
    .fact{
        margin: 5px 0px;
    }
    .my-sponspors{
        width: 100%;
    }
    .sponspors{
        flex-direction: column;
        text-align: center;
    }
    .sponspor{
        margin-bottom: 30px;
    }
}